# --- Fichiers Système (Mac & Windows) ---
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/

# --- VS Code & Éditeurs ---
.vscode/
.idea/
*.sublime-workspace
*.swp

# --- Fichiers temporaires ---
*.tmp
*.bak
*.log
