body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

#boite-connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 475px;
    width: 475px;
    background: #fafafa;
    border: 2px solid #4a4a4a;
    border-radius: 30px;
    box-shadow: 6px 6px 0px #4a4a4a;
}


.form-connexion {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    max-width: 400px;
}

.fieldset-connexion {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1rem;
    border: none;
    padding-inline: 0;
}

.titre-champ {
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin-top: 0.5rem;
}

.bouton-envoi {
    position: relative;
    overflow: hidden;

    color: black;
    background-color: white;
    border: 2px solid #2a2a2a;
    border-radius: 14px;

    height: 2.5rem;
    padding: 0 1rem;
    cursor: pointer;

    z-index: 1;
    transition: color 0.3s ease;
}

.bouton-envoi::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 0%;
    height: 100%;

    background-color: #2a2a2a;
    z-index: -1;

    transition: width 0.3s ease;
}

.bouton-envoi:hover::before {
    width: 100%;
}

.bouton-envoi:hover {
    color: white;
}


.fieldset-connexion > div {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}


input {
    padding-left: 10px;
    border-radius: 14px;
    border: 1px solid #D9D9D9;
    height: 2.25rem;
}

#btn-retour {
    position: fixed;
    top: 14px;
    right: 1300px;

    padding: 10px 18px;
    background-color: #ffffff;
    border: 2px solid #2A2A2A;
    border-radius: 12px;

    font-family: inherit;
    font-size: 0.95rem;
    font-weight: 500;
    text-decoration: none;
    color: #333;

    box-shadow: 0 0 0 #2A2A2A;
    transition:
            box-shadow 0.15s ease-out,
            transform 0.15s ease-out;
}

#btn-retour:hover {
    box-shadow: 6px 6px 0 #2A2A2A;
    transform: translate(-3px, -3px);
}

#btn-retour:active {
    box-shadow: 2px 2px 0 #2A2A2A;
    transform: translate(-1px, -1px);
}

input[type="radio"] {
    accent-color: #2A2A2A;
}


