body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
}



#boite-connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 475px;
    width: 475px;
    border: 1px solid black;
    border-radius: 50px;
}

.form-connexion {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    max-width: 450px;
}

.fieldset-connexion {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 1rem;
    border: none;
    padding-inline: 0;
}

.titre-champ {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 3px;
    margin-top: 0.5rem;
}

.bouton-envoi{
    color: white;
    background-color: #2A2A2A;
    border: 1px solid #2A2A2A;
    border-radius: 14px;
    height: 2.5rem;
}


input {
    padding-left: 10px;
    border-radius: 14px;
    border: 1px solid #D9D9D9;
    height: 2.25rem;
}
