#connect-button {
    box-shadow: inset 0 0 0 4px #E64F19; 
    border: none;
}

#connect-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;

    background-color: #E64F19;
    z-index: 0;
    
    transition: width 0.3s ease-in-out; 

    border-radius: inherit; 
    transition: width 0.3s ease-in-out;
}

#connect-button:hover::before {
    width: 100%;
}

#connect-button:hover span {
    color: black;
    transition: color 0.3s ease-in-out;
}

#logo-image {
    height: 150px; 
    width: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    z-index: 10;

    object-fit: contain; 
}

.footer-general{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 5px 20px;
    
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.brand-box{
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-logo{
    width: 80px;
    height: auto;
    display: block;
}

.footer-text{
    text-align: right;
}

.footer-shadow {
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.5); 
}