body{
    padding-bottom: 100px;
    margin: 0;
}

.footer-general{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 5px 20px;
    
    background-color: #222;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.brand-box{
    display: flex;
    align-items: center;
    gap: 15px;
}

.footer-logo{
    width: 80px;
    height: auto;
    display: block;
}

.footer-text{
    text-align: right;
}