#connect-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #a3e635;
    z-index: 0;
    
    transition: width 0.3s ease-in-out; 
}

#connect-button:hover::before {
    width: 100%;
}

#connect-button:hover span {
    color: black;
    transition: color 0.3s ease-in-out;
}

#logo-image{
    height: 40px;
}